body {
  background: antiquewhite;
  margin: 30px;
}

h1 {
  font-family: "Javanese Text", sans-serif;
}

.pokemon-cards {
  display: flex;
  flex-direction: row;
}

/*"Blackoak Std"*/

/*colors:*/
/*#FFF4BF - yellow*/
/*#FFC5BF- orange*/
/*#BFFFD5 - green*/
/*#BFFAFF - blue*/
/*#E4BFFF - purple*/